# Java Project
.class
.jar

# Gradle Project
.gradle/
build/
!gradle-wrapper.jar

# Idea Project
out/
*.ipr
*.iml
*.iws

# Macintosh
.DS_Store

# vim
*~

# model-generation-plugin
**/plugin/payara/model/*

# derby log
derby.log
